html,
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-size: 10px;
    text-align: center;
    color: white;
    text-shadow: 0 0 0.1em black;
    background: #44A08D;
}
li > span {
    padding-right: 1em;
}
li {
    margin-top: 1em;
}

.addContainer {
    margin-top: 2em;
}
input{
    padding: 0 1em 0 1em;
    border: none;
    background-color: #093637;
    color:white;
    height: 1.8em;
    font-size: 1.8em;
    outline: none;
}
span {
    font-size: 1.8em;
    font-weight:800;
}
button {
    margin:0;
    padding:0;
    background-color: #093637;
    color: white;
    text-shadow: 0 0 0.1em #000;
    font-weight: 800;
    width: 5em;
    border: none;
    height: 1.8em;
    font-size: 1.8em;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

button:hover{
    opacity: 1;
}

