/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');

/*resetting values*/

body,
html,
ul,
h1,
h2,
h3,
p,
li {
    margin: 0;
    padding: 0;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
}

a {
    display: block;
}

button {
    border: none;
    background: none;
    color: white;
    outline: none;
}


/*Setting sized*/

html {
    height: 100%;
}

body {
    -webkit-overflow-scrolling: touch;
    font-size: 10px;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    overflow: hidden
}

body::-webkit-scrollbar {
    width: 0.5em;
    background-color: rgba(50, 50, 50, 1);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 01em rgba(0, 0, 0, 1);
}

body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.5);
    background-color: rgba(200, 200, 200, 0.3);
}


/*menu button*/

#menuButton {
    position: fixed;
    height: 2em;
    width: 2em;
    font-size: 2em;
    border-radius: 50%;
    top: 7%;
    right: 5%;
    background-color: orange;
    z-index: 100;
    cursor: pointer;
}


/*flex settings*/

.flexParent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flexColumn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


/*main (introduction)*/

main {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(pictures/introductionpicture.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

main > ul {
    position: absolute;
    width: inherit;
    height: inherit;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


/*introduction page*/

main > ul.introductionPage > li {
    width: 95%;
    left: 2.5%;
    position: inherit;
}

main > ul.introductionPage > li:nth-of-type(1) {
    top: 5%;
    font-size: 2em;
    text-align: center;
}

main > ul.introductionPage > li:nth-of-type(2) {
    top: 26%;
    text-align: left;
    font-size: 2em;
}

main > ul.introductionPage > li:nth-of-type(3) {
    top: 85%;
    color: transparent;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1em;
    font-weight: 800;
}

.transparentText {
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 0.05em 0.05em rgba(0, 0, 0, 0.3);
}


/*menu page*/

.pages {
    z-index: -1;
    opacity: 0;
    height: 100%;
    border: none;
    width: 100%;
    overflow: hidden;
}

.menuOption:nth-of-type(1),
.menuOption:nth-of-type(2),
.menuOption:nth-of-type(3) {
    position: inherit;
    z-index: 1;
}

.menuOption:nth-of-type(1) {
    height: 50%;
    width: 100%;
    background-color: aqua;
}

.menuOption:nth-of-type(2),
.menuOption:nth-of-type(3) {
    height: 50%;
    width: 50%;
    bottom: 0;
}

.menuOption:nth-of-type(2) {
    background-color: black;
}

.menuOption:nth-of-type(3) {
    bottom: 0;
    right: 0;
    background-color: gray;
}

.active {
    opacity: 1;
    z-index: 1;
}


/*projects page*/

.menuOption {
    transition: 0.3s;
}

.activePage {
    z-index: 60 !important;
    width: 100% !important;
    height: 100% !important;
}

.cross {
    color: red;
}


/* supports and media queries*/

@supports(-webkit-text-stroke: 0.05em rgba(255, 255, 255, 0.4)) {
    .transparentText {
        color: transparent;
        -webkit-text-stroke: 0.05em rgba(255, 255, 255, 0.4);
        text-shadow: none;
    }
}

@media (min-width: 751px) {
    main > ul {
        border: 0.3em solid white;
        width: 95%;
        height: 95%;
        top: 2.5%;
        left: 2.5%;
    }
    main > ul.introductionPage > li:nth-of-type(2) {
        font-size: 3.5em;
    }
    main > ul.introductionPage > li:nth-of-type(3) {
        letter-spacing: 2.3em;
    }
    .active {
        top: 2.5%;
        left: 2.5%;
        width: 95%;
        height: 95%;
    }
    .menuOption:nth-of-type(1),
    .menuOption:nth-of-type(2),
    .menuOption:nth-of-type(3) {
        width: 50%;
    }
    .menuOption:nth-of-type(1) {
        height: 100%;
    }
    .menuOption:nth-of-type(2) {
        top: 0;
    }
    .menuOption:nth-of-type(2),
    .menuOption:nth-of-type(3) {
        right: 0;
    }
    .pages {
        margin: 0.29em;
    }
}

@media (max-height: 540px) {
    main > ul {
        border: none;
    }
    main > ul.introductionPage > li:nth-of-type(2) {
        font-size: 2em;
    }
    main > ul.introductionPage > li:nth-of-type(3) {
        letter-spacing: 0em;
    }
}

