* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(50, 50, 50);
}

button, #infoToUser {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    color: rgb(95, 158, 160);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: inherit;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#infoToUser {
    cursor: default;
    text-align: center;
    color: black;
    font-size: 20px;
    padding: 3px;
}
button:hover {
   background-color: rgb(95, 158, 160); 
    color: white;
}

body main,
body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

body main div,
body header {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*Header*/

body header h1 {
    color: white;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    background-color: rgb(95, 158, 160);
    letter-spacing: 7px;
    line-height: 1.1;
    padding: 15px 0;
}

#colorDisplay {
    font-size: 200%;
}

/*Main*/
#userMenu {
    height: 30px;
    background-color: snow;
}
#userMenu * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.selected {
    background-color: rgb(95, 158, 160);
    color: white;
}

.squareContainer {
    max-width: 800px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 0;
}

.square {
    cursor: pointer;
    border-radius: 15%;
    -ms-flex-preferred-size: 26%;
    flex-basis: 26%;
    height: 0;
    padding-bottom: 26%;
    margin: 8px;
    background-color: red;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}