@import url('https://fonts.googleapis.com/css?family=VT323');
html,
body,
ul,
ol,
li,
h1,
div,
input,
button {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: rgb(40, 40, 40);
}

body {
    font-size: 10px;
    font-family: 'VT323', monospace;
    overflow-y: hidden;
}

ul,
ol,
li {
    list-style: none;
}

p,
a,
h1,
li {
    text-decoration: none;
}

h1 {
    color: white;
    letter-spacing: 0.1em;
    padding: 0.2em 0 0 0.3em;
    font-size: 2.5em;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 0.7em;
}
.postUser::-webkit-scrollbar {
 display: none;   
}

body::-webkit-scrollbar-scrollbar-track,
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.5);
}

#loginGithubButton {
    position: absolute;
    right: 2em;
    top: 0;
    color: white;
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.9 em;
}

#loginGithubButton:hover {
    color: #D75813;
}

#intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 0.8em;
}

#intro > img {
    height: 2.5em;
    padding: 0;
    margin: 0 0 0 1em;
}

#inputControllers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#inputControllers > input {
    border: 0.5em solid #1c1f24;
    outline: none;
    padding: 0.2em;
    background-color: rgb(40, 40, 40);
    font-family: 'VT323', monospace;
    font-size: 1.4em;
    color: white;
}

#inputControllers > input:hover {
    outline: none;
}

#inputControllers > input:nth-of-type(1) {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#inputControllers > input:nth-of-type(2) {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

#inputControllers > input:nth-of-type(3) {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

#messageContainer {
    background-color: black;
    overflow-y: scroll;
    height: 75%;
    background-color: #1c1f24;
}

#displayMessages > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 1em 0.5em 1em 0.5em;
    border-bottom: 0.1em solid #586073;
}

#displayMessages > li > span:nth-of-type(1) {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#displayMessages > li > span:nth-of-type(2) {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

#displayMessages > li > span:nth-of-type(3) {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.likeButton,
.dislikeButton,
#btnSend {
    cursor: pointer;
}

.likeButton,
.dislikeButton,
.reactions {
    float: right;
    margin: 0.1em;
}

.postUser,
.postMessage,
.postDate {
    font-size: 2em;
    margin: 0 0.3em 0 0.3em;
    text-shadow: 0 0 0.1em black;
}

.postUser,
.postDate {
    color: #586073;
}

.postMessage {
    color: #d75813;
}

@media (min-width: 500px) {
    h1 {
        font-size: 4em;
    }
    .postUser {
        
    }
    #loginGithubButton {
        line-height: 3.2em;
    }
    #loginGithubButton > img {
        height: 2em;
    }
    #displayMessages > li {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    #inputControllers {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    #inputControllers > input {
        border: 0.5em solid #1c1f24;
        padding: 0.3em;
        font-size: 1.8em;
    }
    #messageContainer {
        height: 80%;
    }
    #intro > img {
        height: 5em;
    }
}