@import url('https://fonts.googleapis.com/css?family=Jura&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Jura', sans-serif;

}
body 
{
}

h2
{
    font-size: 1.8em;
}

p 
{
    font-size: 1.4em;
}

img 
{
    border-radius: 5px
}

.thumbnails 
{
    transition: .5s;
    width: 100%
}

.thumbnails:hover {
    filter: grayscale(0%);
}



