.tracker {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 3em;
    z-index: 1;
    color: white;
    text-shadow: 0 0 1px black;
}

main {
    transition: 0.5s;
}
main > div {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
}
main > div > h1 {
    margin: 1% 0 0 2%;
}
main > div > h1 > span {
    text-shadow: 0 0 1px rgba(50, 50, 50, 1);
    font-size: 2em;
    animation: fadein 1s;
}

.progress > div {
    transition: 0.5s;
    border-bottom-width: 0.25em;
    border-top-width: 0.25em;
    border-bottom-style: solid;
    border-top-style: solid;
    box-sizing:border-box;

}
/*INTRO*/
.intro {
    background-color: rgb(50, 50, 50);
    color: rgb(20, 20, 20);
}
.introContent {
    background-color: burlywood;
}
.introBar {
    background-color:rgb(20, 20, 20);
    border-bottom-color: burlywood;
    border-top-color: burlywood;
}
/*PROJECTS*/
.projects {
    background-color: rgb(20, 20, 20);
    color: burlywood;
}
.projectsContent {
    background-color: rgb(50, 50, 50);
}
.projectsBar {
    background-color:burlywood;
    border-bottom-color: rgb(50, 50, 50);
    border-top-color: rgb(50, 50, 50);
}
/*CONTACT*/
.contact {
    background-color: rgb(50, 50, 50);
    color:  rgb(20, 20, 20);
}
.contactContent {
    background-color: burlywood;
}
.contactBar {
    background-color:rgb(20, 20, 20);
    border-bottom-color: burlywood;
    border-top-color: burlywood;
}
/*tiles*/
.tiles {
    height: inherit;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
}

.tiles > li{
    flex-basis: calc(100% /3);
}
.tiles > li:nth-of-type(1) {
    }
/*indicator*/



span {
    display: inline-block;
}

.progress {
    position: absolute;
    left: 0;
    bottom: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.progress > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}